h2 Thing with guid: #{thing.guid}

form.put
  p
    label Name
      br
      input(type="text" name="name" value=thing.name required)
  p
    label Description
      br
      textarea(name="description")= thing.description
  p
    button(type="submit") Save

form.delete
  p
    button(type="submit") Delete
